@import '@/styles/_mixin.scss';


.section1 {

   background-color: rgb(27, 26, 26);


   pre {
      padding: 0.9rem;
      @include pre;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: var(--lightwhite);
   }

}

.section2 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;


}