button {
   color: white;
   padding: 0.6rem;
   border-radius: 3px;
   background-color: black;
   border: 2.1px solid transparent;
   cursor: pointer;

   p {
      background: var(--btn);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;

   }

   &:hover {


      p {
         -webkit-text-fill-color: var(--lightwhite);
      }
   }

}


pre {
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}